@import "../../base.scss";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: $black-primary;
    height: 10vh;
    width: 100%;
    z-index: 999;
    position: fixed;
    top: 0;

    &__left {
      width: 10%;
      margin-right: 3rem;
    }

    &__menu{
        display: none;
    }
    &__logo{
        width: 6rem;
        height: 1.5rem;
        object-fit: fill;
        display: block;

        &:hover {
            cursor: pointer;
        }
    }

    form {
        display: flex;
        padding: 0.1rem;
        margin: 0 1rem;
        border-radius: 0.3rem;
        border: 0.12rem solid;
        background-color: $black-secondary;
        width: 50%;

        input {
            flex: 1;
            border: none;
            font-weight: 500;
            background: transparent;
            padding: 0.3rem;
            color: $text-color;
            width: 100%;

            &:focus {
                outline: none;
            }
        }

        button {
            padding: 0 1.25rem;
            color: $text-color;
            background-color: transparent;
            border: none;

            &:focus {
                border: none
            }
        }
    }
    &__icons {
        display: flex;
        align-items: center;
        justify-self: flex-end !important;
        color: #fff;

        img {
            border-radius: 50%;
            width: 35px;
            object-fit: contain;
            height: 35px;
            margin-left: 10px;
            cursor: pointer;
        }
    }

    &__icon {
        color: #fff;

    }
}

.iconButton {
    background-color: lightgray;

    &:focus {
        color: lightgray;
    }
}

.buttonCaption1:hover::after {
    background: rgb(73, 72, 72);
    border-radius: 5px;
    bottom: -35px;
    color: #fff;
    content: "Create";
    padding: 5px 5px;
    position: absolute;
    z-index: 99;
    width: 50px;
    font-size: small;
  }
  .buttonCaption2:hover::after {
    background: rgb(73, 72, 72);
    border-radius: 5px;
    bottom: -35px;
    color: #fff;
    content: "Youtube Apps";
    padding: 5px 5px;
    position: absolute;
    z-index: 99;
    width: 100px;
    font-size: small;
  }
  .buttonCaption3:hover::after {
    background: rgb(73, 72, 72);
    border-radius: 5px;
    bottom: -34px;
    color: #fff;
    content: "Notifications";
    padding: 5px 5px;
    position: absolute;
    z-index: 99;
    width: 90px;
    font-size: small;
  }

  .buttonCaption4:hover::after {
    background: rgb(73, 72, 72);
    border-radius: 5px;
    bottom: -30px;
    right: 360px;
    color: #fff;
    content: "Search";
    padding: 5px 5px;
    position: absolute;
    z-index: 99;
    width: 90px;
    font-size: small;
  }

@media (max-width: $breakpoint-small) {
    .header {
        padding: 1rem;

        form {
            flex: 1;
        }

        &__menu {
            display: block;
            cursor: pointer;
        }

        &__logo {
            display: none;
        }

        &__icons>*:not(img) {
            display: none;
        }
    }
}