@import '../../base';

.video {
    padding: 0.7rem;
    margin-bottom: 1.5rem;


    &__top {
        position: relative;

        img {
            width: 100%;
        }

        span {
            position: absolute;
            bottom: 0.1rem;
            right: 0.2rem;
            padding: 0.01rem 0.2rem;
            background: #080808ec;
            border-radius: 0.3rem;
            font-size: 14px;
            color: #fff;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &__info {
        display: flex;
        margin-top: 10px;
        padding-right: 20px;

        img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
    }

    &__text {
        margin-left: 15px;

        h5 {
            font-size: 14.5px;
            font-weight: 500;
            color:  #fff;
            @include line-clamp(1);
        }

        p {
            font-size: 14px;
            margin-bottom: 0;
            color: $text-color;
        }
    }
}
